.container {
    display: flex;
    height: 15%;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
    align-content: center;
    padding-bottom: 0px;
    padding-top: 25px;
    margin-top: 25%;
    flex-direction: column;
}
.topContainer {
    display: flex;
    justify-content: center;
}
.scoreboard {
    display:flex;
    
    gap: 10px;
    
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
.computer {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.result {
    
}